#note-sheet {
  border: 1px solid black;
  width: 90%;
  height: 600px;
  margin: 20px auto;
  background-color: #bbb;
  position: relative;
}

textarea {
    position: absolute;
    background-color: red;
}
