#note-sheet {
  border: 1px solid black;
  width: 90%;
  height: 600px;
  margin: 20px auto;
  background-color: #bbb;
  position: relative;
}

textarea.note {
    position: absolute;
    background-color: white;
}

textarea:active {
	z-index: 9999;
}

.postCloser {
	background-color: grey;
	position: absolute;
}

span.postCloserButton {
	/*display: inline-block;*/
	/*text-align: right;*/
	float: right;
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
}
