{% extends 'base/base.html' %}




{% block content %}

<div id="note-wrapper">
	<form method="POST" action="{% url 'web-notes:note-save' %}">
		{% csrf_token %}
		<div id="upper-part">
			<input class="btn btn-info" type="submit" value="Save">
			<div id="color-bar"></div>
		</div>

		<div id="note-sheet"></div>
</form>


</div>
{% endblock %}





{% block script %}
<script>
var noteSheet = d3.select('#note-sheet')
let MOUSE = {startX: 0, startY: 0,
						 endX: 0, endY: 0};
var xMark = '\u2717';
var color = 'rgb(255,255,165)';

noteSheet
  .on("mousedown", function() {
		MOUSE.startY = Math.round(d3.mouse(this)[1]);
		MOUSE.startX = Math.round(d3.mouse(this)[0]);
	})
  .on("mouseup", function() {
		MOUSE.endY = Math.round(d3.mouse(this)[1]);
		MOUSE.endX = Math.round(d3.mouse(this)[0]);
		draw(MOUSE.startX, MOUSE.startY, MOUSE.endX, MOUSE.endY, makeId(),color);
	})

function makeId() {
	var text = '';
	var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

	for(var i = 0; i < 15 + Math.floor(Math.random() * 5); i++)
		text += possible.charAt(Math.floor(Math.random() * possible.length));

	return text;
}

function removePost(value, object) {
	object.parentNode.parentNode.remove();	
	return false;
}


function draw(sx,sy,ex,ey,postId,color,text) {
	if(ex - sx < 60 || ey - sy < 80) {
		return;
	}

  var width = ex - sx;
  var height = ey - sy;
	var postWrapper = noteSheet.append('div')
															.attr('id', postId)
															.attr('class', 'postWrapper')
	var closerSize = 40;

	var postCloser = postWrapper.append('div')
																.attr('class', 'postCloser')
																.style('left', sx+'px')
																.style('top', sy+'px')
																.style('width', width+'px')
																.style('height', closerSize+'px');

	var postCloserButton = postCloser.append('a')
																		.attr('href', '#')
																		.attr('onclick', 'removePost("value", this)')
																		.append('span')
																		.attr('class', 'postCloserButton')
																		.text(xMark)
																	
  var textarea = postWrapper.append('textarea')
															.attr('class', 'note')
															.attr('name', 'name:' + postId + '::' + color + '::'
																										+ sx + ',' + sy + ',' + ex + ',' + ey)
															.style('left', sx+'px')
															.style('top', Number(sy)+closerSize+'px')
															.style('width', width+'px')
															.style('height', Number(height)-closerSize+'px')
															.style('background-color', color)
															.text(text)

}
</script>

<script type="text/javascript">
{% for post in posts %}
coords = '{{ post.coordinates }}'.split(',');
console.log(coords);
draw(coords[0], coords[1], coords[2], coords[3],
		 '{{ post.post_id }}', '{{ post.color }}', '{{ post.text }}');
{% endfor %}
</script>

{% endblock %}
