{% extends 'base/base.html' %}




{% block content %}

<div id="color-bar"></div>
<form method="POST" action="">
{% csrf_token %}
  <div id="note-sheet">

  </div>
</form>

{% endblock %}





{% block script %}
<script>
var noteSheet = d3.select('#note-sheet')
let MOUSE = {startX: 0, startY: 0,
						 endX: 0, endY: 0};

noteSheet
  .on("mousedown", function() {
		MOUSE.startY = d3.mouse(this)[1];
		MOUSE.startX = d3.mouse(this)[0];
	})
  .on("mouseup", function() {
		MOUSE.endY = d3.mouse(this)[1];
		MOUSE.endX = d3.mouse(this)[0];
		draw();
	})

function makeId() {
	var text = '';
	var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

	for(var i = 0; i < 15; i++)
		text += possible.charAt(Math.floor(Math.random() * possible.length));

	return text;
}

function removePost(value, object) {
	object.parentNode.parentNode.remove();	
	return false;
}


function draw() {
	if(MOUSE.endX - MOUSE.startX < 60 || MOUSE.endY - MOUSE.startY < 80) {
		return;
	}

  var width = MOUSE.endX - MOUSE.startX;
  var height = MOUSE.endY - MOUSE.startY;
	var postWrapper = noteSheet.append('div')
															.attr('id', makeId())
															.attr('class', 'postWrapper')
	var closerSize = 40;
	var xMark = '\u2717';

	var postCloser = postWrapper.append('div')
																.attr('class', 'postCloser')
																.style('left', MOUSE.startX+'px')
																.style('top', MOUSE.startY+'px')
																.style('width', width+'px')
																.style('height', closerSize+'px');

	var postCloserButton = postCloser.append('a')
																		.attr('href', '#')
																		.attr('onclick', 'removePost("value", this)')
																		.append('span')
																		.attr('class', 'postCloserButton')
																		.text(xMark)
																	
  var textarea = postWrapper.append('textarea')
															.attr('class', 'note')
															.style('left', MOUSE.startX+'px')
															.style('top', MOUSE.startY+closerSize+'px')
															.style('width', width+'px')
															.style('height', height-closerSize+'px')
}
</script>
{% endblock %}
